{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block content %}

<!-- New Arrivals
================================================== -->
<div class="container">

  <!-- Carousel -->
  <div id="new-arrivals" class="showbiz-container sixteen columns" >

    <!-- Products -->
    <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1" >
      <div class="overflowholder">

        <ul>
          {% for p in productions %}
            <!-- Product -->
            <li>
              <figure class="product">
                <div class="product-discount">热卖</div>
                <div class="mediaholder">
                  <a href="{% url 'productions-detail' p.id %}">
                    <img alt="" src="{{ p.pic1.url }}"/>
                    <div class="cover">
                      <img alt="" src="{{ p.pic2.url }}"/>
                    </div>
                  </a>
                  <a href="#" class="product-button" onclick="cartTools.addCart({{ p.id }}, '{{ p.name }}', '{{ p.pic1 }}', {{ p.price }}, 1)">
                    <i class="fa fa-shopping-cart"></i> Add to Cart
                  </a>
                </div>

                <a href="{% url 'productions-detail' p.id %}">
                  <section>
                    <h5>{{ p.name }}</h5>
                    <span class="product-price">￥{{ p.price }}</span>
                  </section>
                </a>
              </figure>
            </li>
          {% endfor %}

        </ul>
        <div class="clearfix"></div>

      </div>
      <div class="clearfix"></div>
    </div>
  </div>

</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/controllers/carts.js' %}"></script>
{% endblock %}