{% extends "layouts/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<!-- Slider
================================================== -->
  <div class="eight columns" >
    <div class="slider-padding">
      <div id="product-slider" class="royalSlider rsDefault">
          <img class="rsImg" width="440" height="497" src="{{ production.pic1.url }}" data-rsTmb="{{ production.pic1_96x165.url }}" alt="" />
          <img class="rsImg" src="{{ production.pic2.url }}" data-rsTmb="{{ production.pic2_95x165.url }}" alt="" />
       </div>
       <div class="clearfix"></div>
    </div>
  </div>


<!-- Content
================================================== -->
  <div class="eight columns">
    <div class="product-page">

      <!-- Headline -->
      <section class="title">
        <h2>{{ production.name }}</h2>
        <span class="product-price">￥{{ production.price }}</span>
      </section>

      <!-- Text Parapgraph -->
      <section>
        <p class="margin-reset">{{ production.introduction }}</p>

        <!-- Share Buttons -->  
        <div class="share-buttons">
          <ul>
            <li><a href="variable-product-page.html#">Share</a></li>
            <li class="share-facebook"><a href="variable-product-page.html#">Facebook</a></li>
            <li class="share-twitter"><a href="variable-product-page.html#">Twitter</a></li>
            <li class="share-gplus"><a href="variable-product-page.html#">Google Plus</a></li>
            <li class="share-pinit"><a href="variable-product-page.html#">Pin It</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </section>

      <!-- Variables -->
      <section class="variables">

        <!-- <div class="four alpha columns">
          <label for="size">重量</label>
          <div id="select-size" class="customSelect" style="z-index: 100;">
            <div class="selectValueWrap">
              <div class="selectedValue">{{ production.weight }}g</div>
            </div>
          </div>
        </div> -->

        <div class="four omega columns">
          <label for="color">保质期</label>
          <div id="select-size" class="customSelect" style="z-index: 100;">
            <div class="selectValueWrap">
              <div class="selectedValue">{{ production.guarantee }}个月</div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>

      </section>


      <section class="linking">

          <form action='#'>
              <div class="qtyminus"></div>
              <input type='text' name="quantity" value='1' class="qty" />
              <div class="qtyplus"></div>
          </form>

          <a href="variable-product-page.html#" class="button adc">Add to Cart</a>
          <div class="clearfix"></div>

      </section>

    </div>
  </div>

</div>
{% endblock %}