{% load staticfiles %}
<!-- Top Bar
================================================== -->
<div id="top-bar">
  <div class="container">

    <!-- Top Bar Menu -->
    <div class="ten columns">
      <ul class="top-bar-menu">
        <li><i class="fa fa-phone"></i>18601115274</li>
        <li><i class="fa fa-envelope"></i> <a href="index.html#">touchme@youyutiao.com</a></li>
      </ul>
    </div>
    <!-- Social Icons -->
    <div class="six columns">
      <ul class="social-icons">
        <li><a class="weibo" target="_blank" href="http://weibo.com/u/5259795595"><i class="icon-weibo"></i></a></li>
        <li><a class="wechat" href="index.html#"><i class="icon-wechat"></i></a></li>
      </ul>
    </div>

  </div>
</div>

<div class="clearfix"></div>


<!-- Header
================================================== -->
<div class="container margin-bottom-20">


  <!-- Logo -->
  <div class="four columns">
    <div id="logo">
      <h1><a href="{% url 'home' %}"><img src="" alt="熙鱿记" /></a></h1>
    </div>
  </div>


  <!-- Additional Menu -->
  <div class="twelve columns">
    <div id="additional-menu">
      <ul>
        <li><a href="{% url 'production-list' %}">在线订购</span></a></li>
        <li><a href="shopping-cart.html">购物车</a></li>
        <li><a href="{% url 'login' %}">登陆<a> / <a href="{% url 'register' %}">注册</a></li>
      </ul>
    </div>
  </div>


  <!-- Shopping Cart -->
  <div class="twelve columns">

    <div id="cart">

      <!-- Button -->
      <div class="cart-btn">
        <a href="index.html#" class="button adc">￥178.00</a>
      </div>

      <div class="cart-list">

      <div class="arrow"></div>

        <div class="cart-amount">
          <span>2 items in the shopping cart</span>
        </div>

          <ul>
            <li>
              <a href="index.html#"><img src="{% static 'images/small_product_list_08.jpg' %}" alt="" /></a>
              <a href="index.html#">Converse All Star Trainers</a>
              <span>1 x $79.00</span>
              <div class="clearfix"></div>
            </li>

            <li>
              <a href="index.html#"><img src="{% static 'images/small_product_list_09.jpg' %}" alt="" /></a>
              <a href="index.html#">Tommy Hilfiger <br /> Shirt Beat</a>
              <span>1 x $99.00</span>
              <div class="clearfix"></div>
            </li>
          </ul>

        <div class="cart-buttons button">
          <a href="shopping-cart.html" class="view-cart" ><span data-hover="View Cart"><span>View Cart</span></span></a>
          <a href="checkout-billing-details.html" class="checkout"><span data-hover="Checkout">Checkout</span></a>
        </div>
        <div class="clearfix">

        </div>
      </div>

    </div>

    <!-- Search -->
    <nav class="top-search">
      <form action="#" method="get">
        <button><i class="fa fa-search"></i></button>
        <input class="search-field" type="text" placeholder="搜索" value=""/>
      </form>
    </nav>

  </div>

</div>